*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(180deg, #762b21, goldenrod);
    color: #fff;
}

.bg{
    width: 100%;
    min-height: 100vh;
    padding: 20px;
    display: flex;
    justify-content: center;
}


.container {
    width: 100%;
    max-width: 480px;
    text-align: center;
}


.logo-wrapper {
    position: relative;
    display: inline-block;
}

.logo-img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 4px solid rgb(227, 122, 2);
}

.vip-badge {
    position: absolute;
    top: -8px;        
    right: -10px;    
    background: palevioletred;
    color: #000;
    padding: 4px 10px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 12px;
    box-shadow: 0 0 6px rgba(0,0,0,0.3);
}


.title {
    font-size: 35px;
    margin-top: 12px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: blue;
}

.subtitle {
    margin-top: 5px;
    color: #0c21c5;
    margin-bottom: 18px;
}


.tag {
     background: #6f42ff;
    padding: 10px;
    border-radius: 8px;
    margin: 20px 0;
    font-size: 18px;
}

.tag i{
    color: goldenrod;
}


.stats {
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
    gap: 10px;
}

.stat-box {
    flex: 1;
    background: rgba(11, 42, 57, 0.852);
    padding: 12px 5px;
    border-radius: 14px;
}

.stat-box h3 {
    margin: 4px 0;
}

.icon {
    font-size: 22px;
}

.icon1 i{
    color: orangered;
    font-size: 25px;
}


.icon2 i{
    color: #1285af;
    font-size: 25px;
}

.icon3 i{
    color: goldenrod;
    font-size: 25px;
}


.btn {
    display: block;
    background: #6f42ff;
    padding: 15px;
    border-radius: 20px;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    margin: 20px 0;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 0 0 12px rgba(111,66,255,0.6);
}

.btn i{
    color: orange;
}


.features {
    background: rgba(11, 42, 57, 0.852);
    padding: 15px;
    border-radius: 12px;
    margin: 20px 0;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    color: white;
}

.joined {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px; 
}

.badge {
    width: 32px;
    height: 32px;
    background: #1f1b45;
    border: 1px solid #6f42ff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: -25px; 
    z-index: 2;
}


.badge:first-child {
    margin-left: 0;
}


.joined small{
    font-size: 20px;
}

.footer-info {
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #6f42ff;
    padding: 15px 15px;
    border-radius: 20px;
}






@media (max-width: 480px) {
    .title {
        font-size: 24px;
    }

    .logo img {
        width: 90px;
    }

    .stats {
        gap: 12px;
    }

    .stat-box {
        width: 100%;
    }

    .btn {
        font-size: 16px;
    }

    .features {
        font-size: 14px;
    }
}
